@page "/"



<PageTitle>Miu Miu - Home</PageTitle>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/Style.css" />
</head>

<nav class="navbar">
    <div class="navbar-logo">
        <a href="">
            <img src="/img/logo_miumiu.jpeg" alt="Miu Miu Logo" class="logo-img">
        </a>
    </div>

    <div class="navbar-icons">
        <a href="catalogo" class="icon-link" aria-label="Bolsa">
            <i class="fa-solid fa-bag-shopping"></i>
        </a>

        <a href="clientes" class="icon-link" aria-label="Sistema CRUD">
            <i class="fa-solid fa-database"></i>
        </a>

        <a href="ventas" class="icon-link" aria-label="Historial de Ventas">
            <i class="fa-solid fa-cash-register"></i>
        </a>
    </div>
</nav>

<section class="hero-section">
</section>

<section class="categories-section">
    <div class="categories-grid">

        <a href="catalogo" class="category-item">
            <img src="/img/bolsa_amarilla.jpeg" alt="Camisetas para hombre">
            <span class="category-title">Camisetas para Hombre</span>
        </a>

        <a href="catalogo" class="category-item">
            <img src="/img/Bolsa_blanca.jpeg" alt="Abrigos para Mujer">
            <span class="category-title">Abrigos para Mujer</span>
        </a>

        <a href="catalogo" class="category-item">
            <img src="/img/Bolsa_cafe.jpeg" alt="Zapatos para Hombre">
            <span class="category-title">Zapatos para Hombre</span>
        </a>

        <a href="catalogo" class="category-item">
            <img src="/img/Bolsa_verde.jpeg" alt="Bolsos para Hombre">
            <span class="category-title">Bolsos para Hombre</span>
        </a>

    </div>
</section>

<footer class="simple-footer">
    <div class="footer-content">
        <p>&copy; 2026 Miu Miu. Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Privacidad</a>
            <a href="#">Términos</a>
            <a href="#">Contacto</a>
        </div>
    </div>
</footer>
